@model IEnumerable<WebApplication4.Models.Report>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (HttpContextAccessor.HttpContext.Session.GetInt32("userId") != null)
{
    <p>My UserId @HttpContextAccessor.HttpContext.Session.GetInt32("userId")</p>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uploaderId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.uploadedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.uploaderId)
                </td>
                @*<td>
                       @Html.DisplayFor(modelItem => item.DataFiles)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.uploadedTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="GetReportFile" asp-route-id="@item.id">Download</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
